<section id="add">
<form action="/add_client" method="post">
  <p>Please enter client name.</p>
  <input type="textbox" name="client_name"></br>
  <p>Please choose client type.</p>
	  <p>Standard</p>
        <input type="radio" name="client_type" value="standard"/>
      <p>Other</p>
        <input type="radio" name="client_type" value="other"/></br>
  <input type="submit" class="submit-button">
</form>
</section>