<section id="add">
<form action="/add_employee" method="post">
  <p>Please enter employee first name.</p>
  <input type="textbox" name="first"></br>
  <p>Please enter employee last name.</p>
  <input type="textbox" name="last"></br>
  <p>Please enter employee username.</p>
  <input type="textbox" name="username"></br>
  <p>Please choose employee type.</p>
	  <p>Admin</p>
        <input type="radio" name="project" value="admin"/>
      <p>Non-Admin</p>
        <input type="radio" name="project" value="non-admin"/></br>
  <input type="submit" class="submit-button"></br>
  <h3 class ="employee_success">Your employee has been successfully added!</h3>
</form>
</section>